@model IEnumerable<GuestBook.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/listOfGuests.css">

<div id="pageDetails">  
    <h1>List of guests</h1> 

    <div id="pagination">   
        <div id="upBox">
            <div id="manualChanger">
                <div id="pageSummary">
                    <h4 id="numberOfPage">@TempData["numberOfPage"] / @TempData["maxPages"]</h4>
                </div>
                <div id="arrows">
                    <a id="rightArrow" asp-area="" asp-controller="Posts" asp-action="PageDown"><img src="~/Pictures/ArrowBack.png"/></a>
                    <a id="rightArrow" asp-area="" asp-controller="Posts" asp-action="PageUp"><img src="~/Pictures/ArrowForward.png"/></a>
                </div>
            </div>
        
            <div id="specificPageInput">
                <div id="inputBox">
                    <form id="goToPageForm" asp-controller="Posts" asp-action="ChangePageFromInputLabel" method="post">
                        <button id="goToPageButton" type="submit">Go to page:</button>
                        <input id="inputValue" name="inputValue" type="text" value="" cols="3" rows="1"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="numberOfPostOnOnePage">
    <div id="numberOfPostOnOnePageChild">
        <h8>Number of posts for the one page:</h8>
        <a id="fivePostsOnPage" asp-area="" asp-controller="Posts" asp-action="SetNumberOfPostFromInput" asp-route-numberOfPages="5">05</a>
        <a id="tenPostsOnPage" asp-area="" asp-controller="Posts" asp-action="SetNumberOfPostFromInput" asp-route-numberOfPages="10">10</a>
        <a id="twentyPostsOnPage" asp-area="" asp-controller="Posts" asp-action="SetNumberOfPostFromInput" asp-route-numberOfPages="20">20</a>
    </div>
</div>
<p>
    <a asp-action="Create">Add Your Post!</a>
</p>
<div id="parrentOfTable">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th></th>
            </tr>
        </thead>
        <body>
    @foreach (var item in Model)
    {
        <tr>
            <td class="createTime">
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td class="name">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="contentOfPost">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </tr>
    }
        <script src="~/js/pagination.js"></script>
        </body>
    </table>
</div>
